In [60]:
import warnings
import pandas as pd
from pandas.core.common import SettingWithCopyWarning
warnings.simplefilter(action="ignore", category=SettingWithCopyWarning)
#Imports
import pandas as pd
import numpy as np
from pandas.plotting import register_matplotlib_converters
import matplotlib.pyplot as plt
from matplotlib.pylab import rcParams
register_matplotlib_converters()

from sklearn.linear_model import LinearRegression
from sklearn.preprocessing import OneHotEncoder
from sklearn.metrics import mean_squared_error, r2_score, mean_absolute_error

from scipy import stats
from random import gauss as gs
import datetime

from statsmodels.tsa.arima_model import ARMA
from statsmodels.tsa.stattools import adfuller, acf, pacf
from statsmodels.graphics.tsaplots import plot_acf, plot_pacf
import statsmodels.api as sm
from statsmodels.tsa.seasonal import seasonal_decompose

#Supress default INFO logging
%matplotlib inline
import warnings
warnings.filterwarnings('ignore')
import logging
logger = logging.getLogger()
logger.setLevel(logging.CRITICAL)
import logging, sys
warnings.simplefilter(action='ignore', category=FutureWarning)

In [61]:
data = pd.read_csv('NY_Permitdata__cleaned.csv')

In [65]:
data.head()

         BOROUGH Job Type           DOBRunDate
0      MANHATTAN       A2  12/12/2020 00:00:00
1  STATEN ISLAND       A2  12/12/2020 00:00:00
2       BROOKLYN       DM  06/18/2020 00:00:00
3       BROOKLYN       DM  06/18/2020 00:00:00
4       BROOKLYN       DM  06/18/2020 00:00:00

In [64]:
# data.drop(columns=['Unnamed: 0'])

In [ ]:
data.reset_index(drop=True)

In [ ]:
# data.drop(columns=['Unnamed: 0'])

In [ ]:
# data['DOBRunDate']= pd.to_datetime(data['DOBRunDate'])
# # df= df.drop(columns='SALE DATE')

In [ ]:
# decomposition = seasonal_decompose(data['DOBRunDate'], model='additive', period=365)
# observed = decomposition.observed
# trend = decomposition.trend
# seasonal = decomposition.seasonal
# residual = decomposition.resid

In [ ]:
# register_matplotlib_converters()
# #

In [ ]:
# plt.figure(figsize=(30,15))
# plt.subplot(411)
# plt.plot(observed, label='Original', color="blue")
# plt.legend(loc='upper left')
# plt.subplot(412)
# plt.plot(trend, label='Trend', color="blue")
# plt.legend(loc='upper left')
# plt.subplot(413)
# plt.plot(seasonal,label='Seasonality', color="blue")
# plt.legend(loc='upper left')
# plt.subplot(414)
# plt.plot(residual, label='Residuals', color="blue")
# plt.legend(loc='upper left')
# plt.tight_layout()

In [66]:
data1=pd.read_csv('NY_Permitdata__cleaned.csv', index_col='DOBRunDate')

In [67]:
# data1.drop(columns = ['Unnamed: 0'])

In [68]:
data1.index = pd.to_datetime(data1.index)

In [69]:
# data1.drop(columns=['Unnamed: 0'])

In [70]:
data1.groupby(['BOROUGH','Job Type']).agg(len)

BOROUGH        Job Type
BRONX          A1            27742
               A2           165833
               A3            38566
               DM             8438
               NB            68952
               SG             8020
BROOKLYN       A1           129039
               A2           455659
               A3            90263
               DM            30404
               NB           160771
               SG            14688
MANHATTAN      A1            84452
               A2          1201448
               A3           190166
               DM            10639
               NB            33112
               SG            30412
QUEENS         A1           135194
               A2           359486
               A3            69871
               DM            32206
               NB           168224
               SG            17882
STATEN ISLAND  A1            25061
               A2            67816
               A3            10581
               DM            12639
               NB            95108
               SG             4780
dtype: int64

In [71]:
data1.groupby(['BOROUGH']).agg(len)

               Job Type
BOROUGH
BRONX            317551
BROOKLYN         880824
MANHATTAN       1550229
QUEENS           782863
STATEN ISLAND    215985

In [ ]:
# data1.drop(columns=['Unnamed: 0'])

In [ ]:
data1